{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block m %}{% endblock m %}</title>
    <link rel="stylesheet" href="{% static 'car/pride.css' %}">
</head>
<body>
    <a href="https://www.google.com">google</a>
    <a href="https://www.google.com">varzesh3</a>
    <a href="https://www.google.com">amazon</a>
    <a href="https://www.google.com">digikala</a>
    <a href="https://www.google.com">tv2</a>
    <a href="https://www.google.com">twitter</a>
    <a href="https://www.google.com">twitter</a>
    <a href="https://www.google.com">twitter</a>
    <a href="https://www.google.com">twitter</a>
    <!-- Name: {{ name }}
    Family: {{ family }}
    Age: {{ age }}
    Test: {{ test }} -->
    <img src="{% static 'car/1.jpg' %}" alt="test">
</body>
</html>