{% extends '_base.html' %}

{% block title %}
Posts
{% endblock title %}


{% block main %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <h5 class="card-title">عنوان پست باید عوض شود.</h5>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">تاریخ باید عوض شود.</h6>
                        <p class="card-text py-3">
                            این متن باید جایگزین شود.                            
                        </p>
                        <div class="btn btn-sm btn-success">Read More</div>
                    </div>
                </div>
            </div>
            <div class="col-3">

                    <div class="card my-4">
                        <h5 class="card-header">About</h5>
                        <div class="card-body">
                            <p class="card-text">We love python and django. So we created a blog site to share our
                                thoughts</p>
                            <a href="#"
                            class="btn btn-sm btn-danger">
                                More...
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock main %}
